# Ignore Terraform files
*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars
.terraform/

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore crash log files
crash.log

# Ignore CLI configuration files
.terraformrc
terraform.rc
